<div class="row">
  <form role="form" id="add-site-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="signinUrl">Signin Url</label>
      <input type="text" class="form-control" id="signinUrl" name="signinUrl" placeholder="Signin Url">
    </div>
    <div class="form-group">
      <label for="signinData">Signin Data</label>
      <input type="text" class="form-control" id="signinData" name="signinData" placeholder="Signin Data">
    </div>
    <div class="form-group">
      <label for="signinCheck">Signin Check</label>
      <input type="text" class="form-control" id="signinCheck" name="signinCheck" placeholder="Signin Check">
    </div>
    <div class="form-group">
      <label for="creditUrl">Credit Url</label>
      <input type="text" class="form-control" id="creditUrl" name="creditUrl" placeholder="Credit Url">
    </div>
    <div class="form-group">
      <label for="creditCheck">Credit Check</label>
      <input type="text" class="form-control" id="creditCheck" name="creditCheck" placeholder="Credit Check">
    </div>
    <div class="form-group">
      <label for="account">Account</label>
      <input type="text" class="form-control" id="account" name="account" placeholder="Account">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default add-site-btn btn-success" style="display: none;">Add</button>
    <button type="submit" class="btn btn-default test-site-btn btn-warning">Test</button>
  </form>
</div>
<hr>
<div class="row">
  <table class="table table-bordered table-hover table-condensed" id="sites-form">
    <thead>
      <tr>
        <th>Name</th>
        <th>Signin Url</th>
        <th>Signin Data</th>
        <th>Signin Check</th>
        <th>Credit Url</th>
        <th>Credit Check</th>
        <th>Create Time</th>
        <th>Operate</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($sites as $site): ?>
        <tr>
          <td><?php echo $site['name'] ?></td>
          <td><?php echo $site['signin_url'] ?></td>
          <td><?php echo $site['signin_data'] ?></td>
          <td><?php echo $site['signin_check'] ?></td>
          <td><?php echo $site['credit_url'] ?></td>
          <td><?php echo $site['credit_check'] ?></td>
          <td><?php echo $site['create_time'] ?></td>
          <td>
            <button class="btn btn-xs btn-danger del-site-btn" data-id="<?php echo $site['id']?>">Del</button>
          </td>
        </tr>
      <?php endforeach; ?>
    </tbody>
  </table>
</div>
<script>
  $(function(){
    $(document).delegate('.add-site-btn', 'click', function(){
      ajaxCall(this, '<?php echo SP::getBaseUrl() ?>/Admin/AddSite', $("#add-site-form").serialize(),
        function(result){
          var tr = $('<tr>');
          tr.append($('<td>').text(result.name))
            .append($('<td>').text(result.signinUrl))
            .append($('<td>').text(result.signinData))
            .append($('<td>').text(result.signinCheck))
            .append($('<td>').text(result.creditUrl))
            .append($('<td>').text(result.creditCheck))
            .append($('<td>').text(result.createTime))
            .append($('<td>')
              .append($('<button>').addClass('btn btn-xs btn-danger del-site-btn')
                .data('id', result.id)
                .text('Del')
                )
            );
          $("#sites-form tbody").prepend(tr);
        },
        function(result){
          alert(result.msg);
        });
      return false;
    })
    .delegate('.test-site-btn', 'click', function(){
      ajaxCall(this, '<?php echo SP::getBaseUrl() ?>/Admin/TestSite', $('#add-site-form').serialize(),
        function(result){
          $('.add-site-btn').show();
          $('.test-site-btn').hide();
        },
        function(result){
          alert(result.msg);
        });
      return false;
    })
    .delegate('#add-site-form input', 'change', function(){
      $('.add-site-btn').hide();
      $('.test-site-btn').show();
      return false;
    })
    .delegate('.del-site-btn', 'click', function(){
      if(!confirm('确认删除？')) return false;
      var self = this;
      ajaxCall(this, '<?php echo SP::getBaseUrl() ?>/Admin/DelSite', {id: $(self).data('id')},
        function(result){
          $(self).parent().parent().remove();
        },
        function(result){
          alert(result.msg);
        });
      return false;
    });
  });
</script>
