<link rel="stylesheet" type="text/css" href="<?php echo SP::staticFile('css/signin.css'); ?>" />
<div class="container">
  <form class="form-signin" id="signin-form" action="<?php echo SP::staticFile('Index/Signin'); ?>" method="post">
    <h2 class="form-signin-heading"><?php echo 'Sign in'; ?></h2>
    <input class="form-control" placeholder="<?php echo 'account'; ?>" name="account" id="account" type="text" />
    <input class="form-control" placeholder="<?php echo 'password'; ?>" name="password" id="password" type="password" />
    <div>
    <label class="checkbox">
      <input name="rememberMe" id="remember-me" value="1" type="checkbox" /><?php echo 'Remember me next time'; ?>
    </label>
    </div>
    <input type="hidden" id="type" name="signin" value="1">
    <button class="btn btn-lg btn-primary btn-block signin"><?php echo 'Sign in'; ?></button>
  </form>
</div> <!-- /container -->
